<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<% const context = {title: "Edit"} %> 
<%- include("../includes/_head.ejs", context) %>

<body>

    <!-- NavBar -->
    <%- include("../includes/_nav.ejs") %>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">MovieHub - Edit</h1>
                    <p class="lead text-muted">Edit the Comment</p>

                    <!-- Edit Form -->
                    <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <p>
                            <input type="text" name="title" value="<%=comment.title%>" />
                        </p>
                        <p>
                            <input type="text" name="body" value="<%=comment.body%>" />
                        </p>
                        <input type="submit" class="btn btn-sm btn-primary" value="Submit Edit" />
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>