<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<% const context = {title: "Show"} %> 
<%- include("../includes/_head.ejs", context) %>

<body>
    
    <!-- NavBar -->
    <%- include("../includes/_nav.ejs") %>
    
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Movie Hub - Show</h1>
                <p class="lead text-muted">Full Details/Comments of the Movie</p>
                
                <h3><%= movie.name %> <%= movie.year %></h3>
                <p><%= movie.details %> </p>

                <form action="/comments/newcomment/<%= movie._id %>" method="POST">

                    <p><input type="text" name="title" placeholder="title" /></p>

                    <p></p><input type="text" name="body" placeholder="body" /></p>

                    <p></p><input type="text" name="author" placeholder="author" /></p>

                    <input type="submit" value="Submit Comment" />
                </form>

                <!-- COMMENTS Section -->
                <h1> Comments: </h1>
                <ul>
                    <% movie.comment.forEach(comment => { %>
                    <li>
                        <!-- Comment/link -->
                        <p><a href="/comments/<%= comment._id %>"><%= comment.title %>--<%=comment.body%>-by-<%=comment.author%></a></p>
                        <!-- Comment Edit -->
                        <a href="/comments/<%= comment._id %>/edit"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                        <!-- Comment Delete -->
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete">
                        </form>
                    </li>
                    <% }) %>
                 

                </ul>

            </div>
            </div>
        </section>
    </main>
</body>
</html>