<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Specific</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>

</head>

<body>
    <a href="/">Home</a>
    <a href="/movies/">View All</a>
    <a href="/movies/new">Add New Title</a>
    <h1>Movie Hub - Show</h1>

    <h3><%= movie.name %> <%= movie.year %></h3>
    <p><%= movie.details %> </p>

    <form action="/comments/newcomment/<%= movie._id %>" method="POST">

        <p><input type="text" name="title" placeholder="title" /></p>

        <p></p><input type="text" name="body" placeholder="body" /></p>

        <p></p><input type="text" name="author" placeholder="author" /></p>

        <input type="submit" value="Submit Comment" />
    </form>

    <h1> Comments: </h1>


    <ul>
        <% movie.comment.forEach(comment => { %>
        <li>
            <p><a href="/comments/<%= movie._id %>"><%= comment.title %>--<%=comment.body%>--<%=comment.author%></a></p>

        </li>
        <% }) %>

    </ul>

</body>