<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<% const context = {title: "Show"} %>
<%- include("../includes/_head.ejs", context) %>

<body>

    <!-- NavBar -->
    <%- include("../includes/_nav.ejs") %>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">MovieHub - Show</h1>
                    <p class="lead text-muted">Full Details/Comments of the Movie</p>

                    <!-- Movie Details Section -->
                    <h3><%= movie.name %> <%= movie.year %></h3>
                    <img src="https://image.tmdb.org/t/p/w300/<%= movie.image %>" alt="<%= movie.name %> poster" >
                    <p><%= movie.details %> </p>
        <h1>Add New Comment</h1>
                    <form action="/comments/newcomment/<%= movie._id %>" method="POST">

                        <p><input type="text" name="title" placeholder="title" /></p>

                        <p><input type="text" name="body" placeholder="body" /></p>

                        <p><input type="text" name="author" placeholder="author" /></p>

                        <input type="submit" value="Submit Comment" />
                    </form>
                </div>
            </div>
        </section>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <!-- COMMENTS Section -->
                    <h1> Comments: </h1>
                    <% movie.comment.forEach(comment => { %>
                    

                    <div class="list-group">
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <!-- Comment link -->
                                <a href="/comments/<%= comment._id %>">
                                    <h5 class="mb-1"><%= comment.title %> </h5>
                                </a>
                                <small class="text-muted">by <%=comment.author%></small>
                            </div>

                            <p class="mb-1"><%=comment.body%></p>

                            <div class="btn-group">
                                <!-- Comment Edit -->
                                <a href="/comments/<%= comment._id %>/edit"><button type="button"
                                        class="btn btn-sm btn-outline-secondary">Edit</button></a>
                                <!-- Comment Delete -->
                                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </main>
</body>

</html>